<div class="row">
  <div class="col-6 col-md-3">
    <div class="">
      <label for="unit"> Unit </label> <br>
      <input type="text" name="unit" value="" placeholder="6B" id="0001" disabled> <br>
    </div>
    <div class="">
    <label for="measurement">Measurement</label> <br>
        <input type="number" name="measurement" value="" placeholder="1100" step="1" min="250" id="0002" disabled>
    </div>
    <div class="">
      <label for="measurement">Exposure</label> <br>
      <input type="text" name="exposure" value="" placeholder="East/west/north/south" id="0003" disabled>
    </div>
    <div class="">
      <label for="measurement">Balcony</label> <br>
      <input type="text" name="balcony" value="" placeholder="open/enclosed" id="0004" disabled>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="">
      <b> <small>Floor Description</small> </b><br>
      <label for="desc1">Bedroom:</label><br>
      <input type="text" name="desc1" value="" placeholder="Tile/Mosaic/paint" size="15" id="0005" disabled> <br>
      <label for="desc2">Washroom:</label><br>
      <input type="text" name="desc2" value="" placeholder="Tile/Mosaic/paint" size="15" id="0006" disabled> <br>
      <label for="desc3">Kitchen:</label><br>
      <input type="text" name="desc3" value="" placeholder="Tile/Mosaic/paint" size="15" id="0007" disabled> <br>
      <label for="desc4">Dining:</label><br>
      <input type="text" name="desc4" value="" placeholder="Tile/Mosaic/paint" size="15" id="0008" disabled> <br>
    </div>
    <div class="">
      <label for="maint">Maintainence</label> <br>
      <input type="Number" name="maint" value="" placeholder="7000" id="maint">
    </div>
    <div class="">
      <label for="occupy">Currently Occupied</label> <br>
      <input type="text" name="occupy" value="" placeholder="Owner/Tenant" id="0009" disabled>
    </div>
  </div>


  <div class="col-6 col-md-3">
    <div class="">
      <label for="water" class="">Water</label> <br>
      <select class="" data-style="" name="water" id="00010" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="WASA">WASA</option>
              <option name="table3" value="pump">Pump</option>
      </select>
    </div>
    <div class="">
      <label for="power" class="">Power</label> <br>
      <select class="" data-style="" name="power" id="00011" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="PDB">PDB</option>
              <option name="table3" value="Solar">Solar</option>
              <option name="table3" value="Generator">Generator</option>
      </select>
    </div>
    <div class="">
      <label for="parking">Parking</label> <br>
      <input type="Number" name="parking" value="" placeholder="" min="1" id="00012" disabled>
    </div>
    <div class="">
      <label for="amenities" class="">Amenities</label> <br>
      <textarea name="amenities" rows="2" cols="20" placeholder="Bike Storage, Gym, Indoor Pool, Party/Meeting Room etc." id="amenities"></textarea>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="">
      <label for="bedroom" class="">#Bedrooms</label> <br>
      <input type="number" name="bedroom" value="" min="1" id="00013" disabled>
    </div>
    <div class="">
      <label for="washroom" class="">#Washrooms</label> <br>
      <input type="number" name="washroom" value="" min="1" id="00014" disabled>
    </div>
    <div class="">
      <label for="kitchen" class="">#Kitchens</label> <br>
      <input type="number" name="kitchen" value="" min="1" id="00015" disabled>
    </div>
    <div class="">
      <label for="level" class="">Level</label> <br>
      <input type="text" name="level" value="" placeholder="2nd Floor" id="00016" disabled>
    </div>
   <div class="">
     <label for="ac" class="">A/C</label> <br>
     <select class="" data-style="" name="ac" id="00017" disabled>
             <option name="table1" value="Y">Available</option>
             <option name="table2" value="N">Not Available</option>
     </select>
   </div>
   <div class="">
     <label for="elevator" class="">Elevator/Lift</label> <br>
     <select class="" data-style="" name="elevator" id="00018" disabled>
             <option name="table1" value="Y">Available</option>
             <option name="table2" value="N">Not Available</option>
     </select>
   </div>
  </div>
</div>

<!-- End of prices and Dates -->
