<div class="new_3">
  <div class="">
    <div class="">
    <label for="measurement">Measurement</label> <br>
        <input type="number" name="measurement" value="" placeholder="1100" step="1" min="250" id="00001" disabled>
    </div>
    <div class="">
      <label for="measurement">Exposure</label> <br>
      <input type="text" name="exposure" value="" placeholder="East/west/north/south" id="00002" disabled>
    </div>
  </div>

  <div class="">
    <div class="">
      <label for="unit"> Unit </label> <br>
      <input type="text" name="unit" value="" placeholder="6B" id="00003" disabled> <br>
    </div>
    <div class="">
      <label for="measurement">Balcony</label> <br>
      <input type="text" name="balcony" value="" placeholder="open/enclosed" id="00004" disabled>
    </div>
    <div class="">
      <label for="occupy">Currently Occupied</label> <br>
      <input type="text" name="occupy" value="" placeholder="Owner/Tenant" id="00005" disabled>
    </div>
  </div>


  <div class="">
    <div class="">
      <label for="water" class="">Water</label> <br>
      <select class="" data-style="" name="water" id="00006" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="WASA">WASA</option>
              <option name="table3" value="pump">Pump</option>
      </select>
    </div>
    <div class="">
      <label for="power" class="">Power</label> <br>
      <select class="" data-style="" name="power" id="00007" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="PDB">PDB</option>
              <option name="table3" value="Solar">Solar</option>
              <option name="table3" value="Generator">Generator</option>
      </select>
    </div>
    <div class="">
      <label for="parking">Parking</label> <br>
      <input type="Number" name="parking" value="" placeholder="" min="1" id="00008" disabled>
    </div>
  </div>

  <div class="">
    <div class="">
      <label for="washroom" class="">#Washrooms</label> <br>
      <input type="number" name="washroom" value="" min="1" id="00009" disabled>
    </div>
    <div class="">
      <label for="level" class="">Level</label> <br>
      <input type="text" name="level" value="" placeholder="2nd Floor" id="000010" disabled>
    </div>
   <div class="">
     <label for="ac" class="">A/C</label> <br>
     <select class="" data-style="" name="ac" id="000011" disabled>
             <option name="table1" value="Y">Available</option>
             <option name="table2" value="N">Not Available</option>
     </select>
   </div>
   <div class="">
     <label for="elevator" class="">Elevator/Lift</label> <br>
     <select class="" data-style="" name="elevator" id="000012" disabled>
             <option name="table1" value="Y">Available</option>
             <option name="table2" value="N">Not Available</option>
     </select>
   </div>
  </div>
</div>
