<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bangladesh listing</title>
  </head>
  <body>
    <header>
      <p>Welcome <strong> <%= currentUser.username %></strong></p>
    </header>
    <h2>Navigation bar</h2>
