<div class="row">
  <div class="col-6 col-md-3">
    <div class="">
    <label for="measurement">Measurement</label> <br>
        <input type="number" name="measurement" value="" placeholder="1100" step="1" min="250" id="h0001" disabled>
    </div>
    <div class="">
      <label for="measurement">Exposure</label> <br>
      <input type="text" name="exposure" value="" placeholder="East/west/north/south" id="h0002" disabled>
    </div>
    <div class="">
      <label for="measurement">Balcony</label> <br>
      <input type="text" name="balcony" value="" placeholder="open/enclosed" id="h0003" disabled>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="">
      <b> <small>Floor Description</small> </b><br>
      <label for="desc1">Bedroom:</label><br>
      <input type="text" name="desc1" value="" placeholder="Tile/Mosaic/paint" size="15" id="h0004" disabled> <br>
      <label for="desc2">Washroom:</label><br>
      <input type="text" name="desc2" value="" placeholder="Tile/Mosaic/paint" size="15" id="h0005" disabled> <br>
      <label for="desc3">Kitchen:</label><br>
      <input type="text" name="desc3" value="" placeholder="Tile/Mosaic/paint" size="15" id="h0006" disabled> <br>
      <label for="desc4">Dining:</label><br>
      <input type="text" name="desc4" value="" placeholder="Tile/Mosaic/paint" size="15" id="h0007" disabled> <br>
    </div>
  </div>


  <div class="col-6 col-md-3">
    <div class="">
      <label for="water" class="">Water</label> <br>
      <select class="" data-style="" name="water" id="h0009" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="WASA">WASA</option>
              <option name="table3" value="pump">Pump</option>
      </select>
    </div>
    <div class="">
      <label for="power" class="">Power</label> <br>
      <select class="" data-style="" name="power" id="h00010" disabled>
              <option name="" value="N/A">Select One</option>
              <option name="table3" value="PDB">PDB</option>
              <option name="table3" value="Solar">Solar</option>
              <option name="table3" value="Generator">Generator</option>
      </select>
    </div>
    <div class="">
      <label for="ac" class="">A/C</label> <br>
      <select class="" data-style="" name="ac" id="h00014" disabled>
              <option name="table1" value="Y">Available</option>
              <option name="table2" value="N">Not Available</option>
      </select>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="">
      <label for="bedroom" class="">#Bedrooms</label> <br>
      <input type="number" name="bedroom" value="" min="1" id="h00011" disabled>
    </div>
    <div class="">
      <label for="washroom" class="">#Washrooms</label> <br>
      <input type="number" name="washroom" value="" min="1" id="h00012" disabled>
    </div>
    <div class="">
      <label for="kitchen" class="">#Kitchens</label> <br>
      <input type="number" name="kitchen" value="" min="1" id="h00013" disabled>
    </div>
    <div class="">
      <label for="occupy">Currently Occupied</label> <br>
      <input type="text" name="occupy" value="" placeholder="Owner/Tenant" id="h0008" disabled>
    </div>
  </div>
</div>
