<div class="new_3">
  <div class="">
  <label for="decimal">In Decimal</label> <br>
      <input type="text" name="listing[decimal]" value="<%= listing.decimal %>" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="katha">In Katha</label> <br>
      <input type="text" name="listing[katha]" value="<%= listing.katha %>" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="length">Length</label> <br>
      <input type="text" name="listing[length]" value="<%= listing.length %>" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="width">Width</label> <br>
      <input type="text" name="listing[width]" value="<%= listing.width %>" placeholder="" step="1" min="" id="">
  </div>
</div>
