<div class="row">
  <div class="col-6 col-md-3">
  <label for="decimal">In Decimal</label> <br>
      <input type="text" name="decimal" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="col-6 col-md-3">
  <label for="katha">In Katha</label> <br>
      <input type="text" name="katha" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="col-6 col-md-3">
  <label for="length">Length</label> <br>
      <input type="text" name="length" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="col-6 col-md-3">
  <label for="width">Width</label> <br>
      <input type="text" name="width" value="" placeholder="" step="1" min="" id="">
  </div>
</div>
