<div class="new_3">
  <div class="">
  <label for="decimal">In Decimal</label> <br>
      <input type="text" name="decimal" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="katha">In Katha</label> <br>
      <input type="text" name="katha" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="length">Length</label> <br>
      <input type="text" name="length" value="" placeholder="" step="1" min="" id="">
  </div>
  <div class="">
  <label for="width">Width</label> <br>
      <input type="text" name="width" value="" placeholder="" step="1" min="" id="">
  </div>
</div>
