<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand active" href="/info" style="width:100px; margin: auto;">BDMLS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="" style="width:500px; margin: auto;">
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/info">Info Centre<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/search">Search</a>
          <a class="nav-item nav-link" href="/listing">Listings</a>
          <a class="nav-item nav-link" href="/listing/new">Add Listing</a>
          <a class="nav-item nav-link" href="/links">Links</a>
          <a href="/logout" class="nav-item nav-link">Logout</a>
      </div>
    </div>
  </div>

</nav>
