
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/search">Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/information">Info Centre<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Add Listing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/links">Links</a>
        </li>
      </ul>
      <div class="inline my-2 my-lg-0">
        <p class="mr-sm-2">Welcome <strong> <%= currentUser.username %></strong> | <a href="/logout">Logout</a> </p>
      </div>
    </div>
  </nav>
</div>
