<div class="wrapper">
    <div class="headerNav">
      <div class="">
          <span class=""><a class="" href="/info">Info Centre<span class="sr-only">(current)</span></a>  </span>
          <span> <a class="" href="/search">Search</a> </span>
          <span class=""><a class="" href="/listing">Listings</a></span>
          <span class=""><a class="" href="/listing/new">Add Listing</a></span>
          <span class=""><a class="" href="/links">Links</a></span>
      </div>
      <div class="">
          <span><strong> <%= currentUser.username %></strong> | <a href="/logout">Logout</a></span>
      </div>
  </div>
</div>
