
<h1>Edit <%= listing.name %></h1>
<form class="" action="/listing/<%= listing._id %>?_method=PUT" method="POST">
  <label for=""> Property Type: </label> <input type="text" name="listing[name]" value="<%=listing.name %>">
  <label for=""> location: </label> <input type="text" name="listing[location]" value="<%=listing.location %>">
  <button type="submit" name="button"> Submit </button>
</form>
