<% include partials/header %>
<% include partials/loggedin %>

<% listings.forEach(function(listing){ %>
  <ul class="list-group">
    <li class="list-group-item">
        <h5> <span><%= listing.name %> </span> | <span><%= listing.location %></span> </h5>
      <a href="/listing/<%= listing._id %>">Details</a>
      <% if(currentUser && listing.author.id.equals(currentUser._id)){ %>
      <a href="/listing/<%= listing._id %>/edit">Edit</a>
      <% } %>
    </li>
  </ul>
<% }); %>
<% include partials/footer %>
