<h1>Bangladesh MLS</h1>

<h3><%= message %> </h3>

<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Enter your User ID">
  <input type="password" name="password" value="" placeholder="Enter your PIN">
  <button type="submit" name="button">Continue</button>
</form>
