<% include partials/header %>
<% include partials/loggedin %>
  <!--Carousel Wrapper-->
    <div class="cs_background_color">
      <div class="cs_postion">
        <div class="cs_text_center">
          <h1 class="cs_font_weight">Hi <%= currentUser.username %> !</h1>
          <h4>Welcome to Bangladesh MLS agent portal.</h4> <hr>
        </div>
        <div class="cs_color_green cs_row_space cs_font_family">
          <p>
            A multiple listing service (MLS, also multiple listing system or multiple listings service) is a suite of services that real estate
            brokers use to establish contractual offers of compensation (among brokers) and accumulate and disseminate information to enable appraisals.
          </p>
          <p>
              A multiple listing service's database and software is used by real estate brokers in real estate (or aircraft broker[1] in other industries for example),
              representing sellers under a listing contract to widely share information about properties with other brokers who may represent
              potential buyers or wish to work with a seller's broker in finding a buyer for the property or asset.
          </p>
          <p>
            The listing data stored in a multiple listing service's database is the proprietary information of the seller.
          </p>
        </div>
      </div>
    </div>
  <!--Carousel Wrapper-->
<% include partials/footer %>
