<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bangladesh listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/temp/styles/style.css">
  </head>
  <body class="container">
    <% include partials/loggedin %>
    <div class="card">
      <h5 class="card-header">BangladeshMLS Sponsors & Partners</h5>
      <div class="card-body">
        <h3 class="card-title">Sheltech (Pvt.) Limited | Real Estate, Consultancy, Land</h3>
        <p class="card-text">Sheltech is one of the pioneers in the real estate and housing industry in Bangladesh. We take pride in development of residential apartments, shopping centers.</p>
        <a href="www.sheltech-bd.com/" class="btn btn-primary">Learn more</a>
      </div>
      <div class="card-body">
      <h3 class="card-title">Concord Group of Companies</h3>
      <p class="card-text">Concord is one of the largest real estate, engineering & construction conglomerates in Bangladesh. Over 1000 projects since 1973 including many landmarks of.</p>
      <a href="www.concordgroup.net" class="btn btn-primary">Learn more</a>
    </div>
    <div class="card-body">
      <h3 class="card-title">Navana Real Estate Ltd.</h3>
      <p class="card-text">Landowner PROPERTY DEALER. Invest your land and valuable eresources to glorify your fortune that has never been such promisable as NAVANA.</p>
      <a href="https://www.navana-realestate.com" class="btn btn-primary">Learn more</a>
    </div>
    </div>
    <h6 style="text-align: center;">All rights reserver &copy; Trademark</h6>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
