  <% include partials/header %>
  <% include partials/loggedin %>
  <div class="container-fluid" style="margin: 1rem 0;">
    <div class="container">
      <div class="card">
        <h5 class="card-header">BangladeshMLS Sponsors & Partners</h5>
        <div class="card-body">
          <h3 class="card-title">Sheltech (Pvt.) Limited | Real Estate, Consultancy, Land</h3>
          <p class="card-text">Sheltech is one of the pioneers in the real estate and housing industry in Bangladesh. We take pride in development of residential apartments, shopping centers.</p>
          <a href="https://www.sheltech-bd.com" class="btn btn-primary">Learn more</a>
        </div>
        <div class="card-body">
        <h3 class="card-title">Concord Group of Companies</h3>
        <p class="card-text">Concord is one of the largest real estate, engineering & construction conglomerates in Bangladesh. Over 1000 projects since 1973 including many landmarks of.</p>
        <a href="https://www.concordgroup.net" class="btn btn-primary">Learn more</a>
      </div>
      <div class="card-body">
        <h3 class="card-title">Navana Real Estate Ltd.</h3>
        <p class="card-text">Landowner PROPERTY DEALER. Invest your land and valuable eresources to glorify your fortune that has never been such promisable as NAVANA.</p>
        <a href="https://www.navana-realestate.com" class="btn btn-primary">Learn more</a>
      </div>
      </div>
    </div>
  </div>

  <% include partials/footer %>
