<% include partials/header %>
<% include partials/loggedin %>
<div class="wrapper">
  <h1>Add New</h1>
  <form class="" action="/listing" method="post">

    <h6 id="centeredheading">Property Classification</h6>
    <hr>
    <div class="new_1">
      <div class="col">
        <label for="propertyclass" class="">Property Class</label>
        <select class="" data-style="" name="propertyclass" required>
                <option name="table1" value="Residential">Residential</option>
                <option name="table2" value="Commercial">Commercial</option>
        </select>
      </div>

      <div class="col">
        <label for="sale" class="">Sale or Lease</label>
        <select class="" data-style="" name="sale" required>
                <option name="table1" value="Sale">Sale</option>
                <option name="table2" value="Lease">Lease</option>
                <option name="table3" value="Sub Lease">Sub Lease</option>
        </select>
      </div>
    </div>


    <h6 id="centeredheading">Location</h6>
    <hr>
    <div class="new_2">
      <div class="col">
        <label for="name" class="">Division</label> <br>
        <select class="" data-style="" name="division">
                <option name="table2" value="Dhaka" selected>Dhaka</option>
        </select>
        <br>
        <label for="name" class="">District</label> <br>
        <select class="" data-style="" name="district">
                <option name="table1" value="Dhaka" selected>Dhaka</option>
        </select>
        <br>
        <label for="name" class="">City</label> <br>
        <select class="" data-style="" name="city" required>
                <option name="table1" value="Dhaka Uttar">Dhaka Uttar</option>
                <option name="table2" value="Dhaka Dokkhin">Dhaka Dokkhin</option>
        </select>
      </div>
      <div class="col">
        <legend for="name" class="">Area</legend>
        <select class="" data-style="" name="area" required size="5">
                <option name="table1" value="Adabar">Adabar</option>
                <option name="table2" value="Azampur">Azampur</option>
                <option name="table3" value="Badda">Badda</option>
                <option name="table4" value="Bangsal">Bangsal</option>
                <option name="table5" value="Bimanbandar">Bimanbandar</option>
                <option name="table6" value="Cantonment">Cantonment</option>
                <option name="table7" value="Chowkbazar">Chowkbazar</option>
                <option name="table8" value="Darus Salam">Darus Salam</option>
                <option name="table9" value="Demra">Demra</option>
                <option name="table10" value="Dhanmondi">Dhanmondi</option>
                <option name="table11" value="Gendaria">Gendaria</option>
                <option name="table12" value="Gulshan">Gulshan</option>
                <option name="table13" value="Hazaribagh">Hazaribagh</option>
                <option name="table14" value="Kadamtali">Kadamtali</option>
                <option name="table15" value="Kafrul">Kafrul</option>
                <option name="table16" value="Kalabagan">Kalabagan</option>
                <option name="table17" value="kamrangirchar">kamrangirchar</option>
                <option name="table18" value="Khilgoan">Khilgoan</option>
                <option name="table19" value="Khilkhet">Khilkhet</option>
                <option name="table20" value="Kotwali">Kotwali</option>
                <option name="table21" value="Lalbagh">Lalbagh</option>
                <option name="table22" value="Mirpur">Mirpur</option>
                <option name="table23" value="Mohammadpur">Mohammadpur</option>
                <option name="table24" value="Motijheel">Motijheel</option>
                <option name="table25" value="New Market">New Market</option>
                <option name="table26" value="Pallabi">Pallabi</option>
                <option name="table27" value="Paltan">Paltan</option>
                <option name="table28" value="Panthapath">Panthapath</option>
                <option name="table29" value="Romna">Ramna</option>
                <option name="table30" value="Rampura">Rampura</option>
                <option name="table31" value="Shabujbagh">Shabujbagh</option>
                <option name="table32" value="Shah Ali">Shah Ali</option>
                <option name="table33" value="Sher-e-Bangla Nagar">Sher-e-Bangla Nagar</option>
                <option name="table34" value="Shyampur">Shyampur</option>
                <option name="table35" value="Sutrapur">Sutrapur</option>
                <option name="table36" value="Tejgoan">Tejgoan</option>
                <option name="table37" value="Tejgoan Industrial Area">Tejgoan Industrial Area</option>
                <option name="table38" value="Turag">Turag</option>
                <option name="table39" value="Uttar Khan">Uttar Khan</option>
                <option name="table40" value="Uttara">Uttara</option>
                <option name="table41" value="Vatara">Vatara</option>
                <option name="table42" value="Wari">Wari</option>
        </select>
      </div>
      <div class="">
        <label for="stname"> Street </label> <br>
        <input type="text" name="stname" value="" placeholder="67 T&T Road" required> <br>
        <label for="unit"> Unit </label> <br>
        <input type="text" name="unit" value="" placeholder="6B"> <br>
        <label for="community" class="">Community</label> <br>
        <input type="text" name="community" value="" placeholder="Farmgate" required>
      </div>
    </div>

    <h6 id="centeredheading">Amounts/Dates</h6>
    <hr>
    <div class="new_3">
      <div>
      <div class="col">
        <label for="listprice" class="">List Price</label> <br>
        <input type="number" name="listprice" value="" placeholder="5000000" required step="50000" min="100000">
      </div>
      <div class="col">
        <label for="name" class="">Contract Commencement</label> <br>
        <input type="date" name="contractdate" value="">
      </div>
      <div class="col">
        <label for="name" class="">Expiry Date</label> <br>
        <input type="date" name="expirydate" value="">
      </div>
      <div class="col">
        <label for="name" class="">Possession Date</label> <br>
        <input type="date" name="possessiondate" value="">
      </div>
      <div class="col">
        <label for="name" class="">Holdover Days</label> <br>
        <input type="number" name="holdoverdays" value="">
      </div>
      <div class="">
        <label for="name" class="">Seller/Landlord Name</label> <br>
        <input type="text" name="sellername" value="">
      </div>
      <div class="">
        <label for="cbcomm" class="">Brokerage Commission</label> <br>
        <input type="text" name="cbcomm" value="">
      </div>
      </div>
      <div class="">
        <div class="">
          <label for="name" class="">Property Type:</label> <br>
          <select class="" data-style="" name="exteriortype" required size="3">
            <option name="exteriortype1" value="Apartment">Apartment</option>
            <option name="exteriortype2" value="House">House</option>
            <option name="exteriortype3" value="Duplex">Duplex</option>
            <option name="exteriortype4" value="Multiplex">Multi-storey</option>
            <option name="exteriortype5" value="Market">Market</option>
          </select>
        </div>
        <div class="">
        <label for="measurement">Square ft.</label> <br>
          <select class="" name="measurement" size="3" required>
            <option name="measurement" value="700">Less than 700</option>
            <option name="measurement" value="1100"> 700 - 1100</option>
            <option name="measurement" value="1500">1100 -1500</option>
            <option name="measurement" value="1501"> More than 1500</option>
          </select>
        </div>
        <div class="">
          <label for="measurement">Exposure</label> <br>
          <input type="text" name="exposure" value="" placeholder="East/west/north/south">
        </div>
        <div class="">
          <label for="measurement">Balcony</label> <br>
          <input type="text" name="balcony" value="" placeholder="open/enclosed">
        </div>
      </div>

      <div class="">
        <div class="">
          <label for="water" class="">Water</label> <br>
          <select class="" data-style="" name="water" required>
                  <option name="" value="N/A">Select One</option>
                  <option name="table3" value="WASA">WASA</option>
                  <option name="table3" value="pump">Pump</option>
          </select>
        </div>
        <div class="">
          <label for="power" class="">Power</label> <br>
          <select class="" data-style="" name="power" required>
                  <option name="" value="N/A">Select One</option>
                  <option name="table3" value="PDB">PDB</option>
                  <option name="table3" value="Solar">Solar</option>
                  <option name="table3" value="Generator">Generator</option>
          </select>
        </div>
        <div class="">
          <label for="parking">Parking</label> <br>
          <input type="Number" name="parking" value="" placeholder="" min="0">
        </div>
        <div class="">
          <label for="maint">Maintainence</label> <br>
          <input type="Number" name="maint" value="" placeholder="7000">
        </div>
        <div class="">
          <label for="occupy">Currently Occupied</label> <br>
          <input type="text" name="occupy" value="" placeholder="Owner/Tenant">
        </div>
        <div class="">
          <label for="amenities" class="">Amenities</label> <br>
          <textarea name="amenities" rows="2" cols="20" placeholder="Bike Storage, Gym, Indoor Pool, Party/Meeting Room etc."></textarea>
        </div>
      </div>

      <div class="">
        <div class="">
          <label for="bedroom" class="">#Bedrooms</label> <br>
          <input type="number" name="bedroom" value="" required min="1">
        </div>
        <div class="">
          <label for="washroom" class="">#Washrooms</label> <br>
          <input type="number" name="washroom" value="" required min="1">
        </div>
        <div class="">
          <label for="kitchen" class="">#Kitchens</label> <br>
          <input type="number" name="kitchen" value="" required min="1">
        </div>
        <div class="">
          <label for="level" class="">Level</label> <br>
          <select class="" data-style="" name="level">
                  <option name="table1" value="First Floor">First Floor</option>
                  <option name="table2" value="Second Floor">2nd Floor</option>
                  <option name="table3" value="Third Floor"> 3rd Floor</option>
                  <option name="table4" value="Four to Sixth Floor">4th, 5th or 6th Floor</option>
                  <option name="table5" value="Seventh to Ninth Floor"> 7th, 8th or 9th Floor</option>
                  <option name="table6" value="Above tenth Floor"> 10th or above</option>
          </select>
        </div>
       <div class="">
         <label for="ac" class="">A/C</label> <br>
         <select class="" data-style="" name="ac">
                 <option name="table1" value="Available">Available</option>
                 <option name="table2" value="Not Available">Not Available</option>
         </select>
       </div>
       <div class="">
         <label for="elevator" class="">Elevator/Lift</label> <br>
         <select class="" data-style="" name="elevator">
                 <option name="table1" value="Available">Available</option>
                 <option name="table2" value="Not Included">Not Available</option>
         </select>
       </div>
       <div class="">
         <label for="ad" class="">Advertisment</label> <br>
         <select class="" data-style="" name="ad">
                 <option name="table1" value="Yes">Yes</option>
                 <option name="table2" value="No">No</option>
         </select>
       </div>
      </div>
     </div>
<!-- End of prices and Dates -->

    <!-- End of interior -->
    <h6>Comments</h6>
    <hr>
    <div class="new_4">
      <div class="col">
        <legend>Remarks for Clients: </legend>
        <textarea name="remarkforclients" rows="2" cols="100" maxlength="250"></textarea>
      </div>
      <div class="col">
        <legend>Extras: </legend>
        <textarea name="extras" rows="2" cols="100" maxlength="250"></textarea>
      </div>

      <div class="col">
        <legend>Remarks for Brokerages: </legend>
        <textarea name="remarkforbrokers" rows="2" cols="100" maxlength="250"></textarea>
      </div>
    </div>
    <div class="col">
      <!-- Default Availibility is unsold -->
      <label for="status" class=""></label>
      <select class="" data-style="" name="status" hidden>
        <option name="table1" value="Available" selected>Unsold</option>
        <option name="table1" value="Unvailable" >sold</option>
      </select>
    </div>
    <div class="col">
      <select class="" data-style="" name="laststatus" size="3" hidden>
        <option name="laststatus1" value="Available" selected >Available</option>
        <option name="laststatus2" value="Price Changed">Price Changed</option>
        <option name="laststatus3" value="Conditional Sold">Conditional Sold</option>
        <option name="laststatus4" value="Sold">Sold</option>
        <option name="laststatus4" value="Terminated">Terminated</option>
      </select>
    </div>

<!-- End of comments -->
    <button type="submit" name="button">Submit</button>
  </form>
</div>
</div>
<% include partials/footer %>
