<h1>Create a form</h1>
<form class="" action="/listing" method="post">
  <label for=""> Property Type: </label> <input type="text" name="name" value="">
  <label for=""> location: </label> <input type="text" name="location" value="">
  <button type="submit" name="button">Submit</button>
</form>
