<% include partials/header %>
<% include partials/loggedin %>
<h1>Brokerage Profile</h1>

<form class="" action="/profile" method="post">
  <input type="text" name="brokerage" placeholder="Enter your User ID">
  <input type="text" name="phone" placeholder="0171-288-5802">
  <input type="text" name="unit" placeholder="68B">
  <input type="text" name="street" placeholder="67 Banani, Block-B">
  <input type="text" name="city" placeholder="Dhaka Uttar">
  <input type="text" name="division" placeholder="Dhaka">
  <button type="submit" name="button">Continue</button>
</form>

<% include partials/footer %>
