<% include partials/header %>
<% include partials/loggedin %>
<h1>User Registration</h1>

<form class="" action="/bdmlsregistration" method="post">
  <input type="text" name="username" placeholder="Enter your User ID">
  <input type="password" name="password" placeholder="Enter your PIN">
  <button type="submit" name="button">Continue</button>
</form>

<% include partials/footer %>
