<% include partials/header %>
<% include partials/loggedin %>
<div class="container">
  <h1>This functionlity is currently in progress.</h1>

  <a href="/listing"> <u>Click here to see all listing</u></a>

  <ul class="list-group">
    <li class="list-group-item active">Class</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item active">Availibility</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item active">Sales or lease</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
    <li class="list-group-item">In progress</li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item active">Archives</li>
    <li class="list-group-item">In progress</li>
  </ul>
</div>

<% include partials/footer %>
