<% include partials/header %>
<% include partials/loggedin %>
<div class="wrapper">
  <form class="" action="/listing" method="GET">
    <div class="search_1">
      <div class="">
        <label>Class</label> <br>
        <input type="checkbox" name="propertyclass" value="Residential">Residential<br>
        <input type="checkbox" name="propertyclass" value="Commercial">Commercial<br>
      </div>
      <div class="">
            <label>Availability</label> <br>
            <input type="checkbox" name="status" value="Available">Available<br>
            <input type="checkbox" name="status" value="Unvailable">Unvailable<br>
      </div>
      <div class="">
            <label for="">Sale or Lease</label> <br>
            <input type="checkbox" name="sale" value="Sale">Sale<br>
            <input type="checkbox" name="sale" value="Lease">Lease<br>
            <input type="checkbox" name="sale" value="Sub Lease">Sub-Lease<br>
      </div>
    </div>
    <br><hr>
  <label style="font-size: .8rem; font-weight: bolder;" >Area</label>
  <div class="search_2">
    <div class="col_css">
        <input type="checkbox" name="area" value="Adabar">Adabar<br>
        <input type="checkbox" name="area" value="Azampur">Azampur<br>
        <input type="checkbox" name="area" value="Badda">Badda<br>
        <input type="checkbox" name="area" value="Bangsal">Bangsal<br>
        <input type="checkbox" name="area" value="Bimanbandar">Bimanbandar<br>
        <input type="checkbox" name="area" value="Cantonment">Cantonment<br>
        <input type="checkbox" name="area" value="Chowkbazar">Chowkbazar<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Darus Salam">Darus Salam<br>
        <input type="checkbox" name="area" value="Demra">Demra<br>
        <input type="checkbox" name="area" value="Dhanmondi">Dhanmondi<br>
        <input type="checkbox" name="area" value="Gendaria">Gendaria<br>
        <input type="checkbox" name="area" value="Gulshan">Gulshan<br>
        <input type="checkbox" name="area" value="Hazaribagh">Hazaribagh<br>
        <input type="checkbox" name="area" value="Kadamtali">Kadamtali<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Kafrul">Kafrul<br>
        <input type="checkbox" name="area" value="Kalabagan">Kalabagan<br>
        <input type="checkbox" name="area" value="kamrangirchar">kamrangirchar<br>
        <input type="checkbox" name="area" value="Khilgoan">Khilgoan<br>
        <input type="checkbox" name="area" value="Khilkhet">Khilkhet<br>
        <input type="checkbox" name="area" value="Kotwali">Kotwali<br>
        <input type="checkbox" name="area" value="Lalbagh">Lalbagh<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Mirpur">Mirpur<br>
        <input type="checkbox" name="area" value="Mohammadpur">Mohammadpur<br>
        <input type="checkbox" name="area" value="Motijheel">Motijheel<br>
        <input type="checkbox" name="area" value="New Market">New Market<br>
        <input type="checkbox" name="area" value="Pallabi">Pallabi<br>
        <input type="checkbox" name="area" value="Paltan">Paltan<br>
        <input type="checkbox" name="area" value="Panthapath">Panthapath<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Ramna">Ramna<br>
        <input type="checkbox" name="area" value="Rampura">Rampura<br>
        <input type="checkbox" name="area" value="Shabujbagh">Shabujbagh<br>
        <input type="checkbox" name="area" value="Shah Ali">Shah Ali<br>
        <input type="checkbox" name="area" value="Sher-e-Bangla Nagar">Sher-e-Bangla Nagar<br>
        <input type="checkbox" name="area" value="Shyampur">Shyampur<br>
        <input type="checkbox" name="area" value="Sutrapur">Sutrapur<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Tejgoan">Tejgoan<br>
        <input type="checkbox" name="area" value="Tejgoan Industrial Area">Tejgoan Industrial Area<br>
        <input type="checkbox" name="area" value="Turag">Turag<br>
        <input type="checkbox" name="area" value="Uttar Khan">Uttar Khan<br>
        <input type="checkbox" name="area" value="Uttara">Uttara<br>
        <input type="checkbox" name="area" value="Vatara">Vatara<br>
        <input type="checkbox" name="area" value="Wari">Wari<br>
    </div>
    </div>
    <br><hr>
    <div class="search_3">
      <div class="">
        <label style="font-size: .8rem; font-weight: bolder; text-align: center;" >Price Range (In Lakh)</label> <br>
        <div class="search_3-1">
          <div class="">
            <div>
              <input type="checkbox" name="listprice" value="6200000">01 - 09 <br>
              <input type="checkbox" name="listprice" value="6200000">10 - 19<br>
              <input type="checkbox" name="listprice" value="6200000">20 - 29<br>
              <input type="checkbox" name="listprice" value="6200000">30 - 39 <br>
              <input type="checkbox" name="listprice" value="6200000">40 - 49 <br>
            </div>
          </div>
          <div class="">
            <div>
              <input type="checkbox" name="listprice" value="6200000">50 - 59 <br>
              <input type="checkbox" name="listprice" value="6200000">60 - 69 <br>
              <input type="checkbox" name="listprice" value="6200000">70 - 79 <br>
              <input type="checkbox" name="listprice" value="6200000">80 - 89 <br>
              <input type="checkbox" name="listprice" value="6200000">90 - 99 <br>
            </div>
          </div>
          <div class="">
            <div>
              <input type="checkbox" name="listprice" value="6200000">100 - 109 <br>
              <input type="checkbox" name="listprice" value="6200000">110 - 119 <br>
              <input type="checkbox" name="listprice" value="6200000">120 - 129 <br>
              <input type="checkbox" name="listprice" value="6200000">120 - 139 <br>
              <input type="checkbox" name="listprice" value="6200000">140 or more  <br>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <label style="font-size: .8rem; font-weight: bolder;  text-align: center;" >Number of Bedrooms</label> <br>
        <div class="search_3-2">
          <div class="">
            <input type="checkbox" name="bedroom" value="1">First<br>
            <input type="checkbox" name="bedroom" value="2">Second<br>
            <input type="checkbox" name="bedroom" value="3">Three<br>
            <input type="checkbox" name="bedroom" value="4">Four<br>
          </div>
          <div class="">
            <input type="checkbox" name="bedroom" value="5">Five<br>
            <input type="checkbox" name="bedroom" value="6">Six<br>
            <input type="checkbox" name="bedroom" value="7">Seven<br>
            <input type="checkbox" name="bedroom" value="8">Eigth or above<br>
          </div>
        </div>
      </div>
    </div>
    <br><hr>
  <div class="search_4">
    <div class="">
    <label>Square ft.</label>  <br>
      <select class="" name="measurement" size="3">
        <option name="measurement" value="700">&#139; than 700</option>
        <option name="measurement" value="1100"> 700 - 1100</option>
        <option name="measurement" value="1500">1100 -1500</option>
        <option name="measurement" value="1501"> &#155; 1500</option>
      </select>
    </div>
    <div class="">
      <label>Property Type:</label>  <br>
        <select class="" name="exteriortype" size="3">
          <option name="exteriortype" value="Apartment">Apartment</option>
          <option name="exteriortype" value="House">House</option>
          <option name="exteriortype" value="Duplex">Duplex</option>
          <option name="exteriortype" value="Multiplex">Multiplex</option>
          <option name="exteriortype" value="Market">Market</option>
        </select>
    </div>
    <div class="">
      <label>Level</label>  <br>
        <select class="" name="level" size="3">
          <option name="level" value="First Floor">First Floor</option>
          <option name="level" value="Second Floor">2nd Floor</option>
          <option name="level" value="Third Floor"> 3rd Floor</option>
          <option name="level" value="Sixth Floor">4th, 5th or 6th Floor</option>
          <option name="level" value="Ninth Floor"> 7th, 8th or 9th Floor</option>
          <option name="level" value="Skyscrapper"> 10th or above</option>
        </select>
    </div>
    <div class="">
    <label>Last Status</label> <br>
      <select class="" name="laststatus" size="3">
        <option name="laststatus" value="Unchanged">Unchanged</option>
        <option name="laststatus" value="Adjusted">Price adjusted</option>
        <option name="laststatus" value="CS">Conditional Sold</option>
        <option name="laststatus" value="SC">Sold</option>
      </select>
    </div>
  </div>
  <hr>
    <input type="submit" name="" value="Continue">
  </form>
</div>
<% include partials/footer %>
