<% include partials/header %>
<% include partials/loggedin %>
<div class="wrapper">
  <form class="" action="/listing" method="GET" onsubmit="listprice()">
    <hr>
    <div class="search_1">
      <div class="">
        <label>Class</label> <br>
        <input type="checkbox" name="propertyclass" value="Residential">Residential<br>
        <input type="checkbox" name="propertyclass" value="Commercial">Commercial<br>
      </div>
      <div class="">
            <label>Availability</label> <br>
            <input type="checkbox" name="status" value="Available">Available<br>
            <input type="checkbox" name="status" value="Unvailable">Unvailable<br>
      </div>
      <div class="">
            <label for="">Sale or Lease</label> <br>
            <input type="checkbox" name="sale" value="Sale">Sale<br>
            <input type="checkbox" name="sale" value="Lease">Lease<br>
            <input type="checkbox" name="sale" value="Sub Lease">Sub-Lease<br>
      </div>
    </div>
    <br><hr>
  <label style="font-size: .8rem; font-weight: bolder;" >Area</label>
  <div class="search_2">
    <div class="col_css">
        <input type="checkbox" name="area" value="Adabar">Adabar<br>
        <input type="checkbox" name="area" value="Azampur">Azampur<br>
        <input type="checkbox" name="area" value="Badda">Badda<br>
        <input type="checkbox" name="area" value="Bangsal">Bangsal<br>
        <input type="checkbox" name="area" value="Bimanbandar">Bimanbandar<br>
        <input type="checkbox" name="area" value="Cantonment">Cantonment<br>
        <input type="checkbox" name="area" value="Chowkbazar">Chowkbazar<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Darus Salam">Darus Salam<br>
        <input type="checkbox" name="area" value="Demra">Demra<br>
        <input type="checkbox" name="area" value="Dhanmondi">Dhanmondi<br>
        <input type="checkbox" name="area" value="Gendaria">Gendaria<br>
        <input type="checkbox" name="area" value="Gulshan">Gulshan<br>
        <input type="checkbox" name="area" value="Hazaribagh">Hazaribagh<br>
        <input type="checkbox" name="area" value="Kadamtali">Kadamtali<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Kafrul">Kafrul<br>
        <input type="checkbox" name="area" value="Kalabagan">Kalabagan<br>
        <input type="checkbox" name="area" value="kamrangirchar">kamrangirchar<br>
        <input type="checkbox" name="area" value="Khilgoan">Khilgoan<br>
        <input type="checkbox" name="area" value="Khilkhet">Khilkhet<br>
        <input type="checkbox" name="area" value="Kotwali">Kotwali<br>
        <input type="checkbox" name="area" value="Lalbagh">Lalbagh<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Mirpur">Mirpur<br>
        <input type="checkbox" name="area" value="Mohammadpur">Mohammadpur<br>
        <input type="checkbox" name="area" value="Motijheel">Motijheel<br>
        <input type="checkbox" name="area" value="New Market">New Market<br>
        <input type="checkbox" name="area" value="Pallabi">Pallabi<br>
        <input type="checkbox" name="area" value="Paltan">Paltan<br>
        <input type="checkbox" name="area" value="Panthapath">Panthapath<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Ramna">Ramna<br>
        <input type="checkbox" name="area" value="Rampura">Rampura<br>
        <input type="checkbox" name="area" value="Shabujbagh">Shabujbagh<br>
        <input type="checkbox" name="area" value="Shah Ali">Shah Ali<br>
        <input type="checkbox" name="area" value="Sher-e-Bangla Nagar">Sher-e-Bangla Nagar<br>
        <input type="checkbox" name="area" value="Shyampur">Shyampur<br>
        <input type="checkbox" name="area" value="Sutrapur">Sutrapur<br>
    </div>
    <div class="col_css">
        <input type="checkbox" name="area" value="Tejgoan">Tejgoan<br>
        <input type="checkbox" name="area" value="Tejgoan Industrial Area">Tejgoan Industrial Area<br>
        <input type="checkbox" name="area" value="Turag">Turag<br>
        <input type="checkbox" name="area" value="Uttar Khan">Uttar Khan<br>
        <input type="checkbox" name="area" value="Uttara">Uttara<br>
        <input type="checkbox" name="area" value="Vatara">Vatara<br>
        <input type="checkbox" name="area" value="Wari">Wari<br>
    </div>
    </div>
    <br><hr>
    <div class="search_3">
      <div class="">
        <label style="font-size: .8rem; font-weight: bolder; text-align: center;" >Price Range: </label>
        <div class=""> <br>
          <select class="" name="minprice" id="minprice">
            <option value="">Min Price</option>
            <option value="0">0</option>
            <option value="10000">10000</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="200000">200000</option>
            <option value="300000">300000</option>
            <option value="500000">500000</option>
            <option value="1000000">1000000</option>
            <option value="2500000">2500000</option>
            <option value="5000000">5000000</option>
            <option value="10000000">10000000</option>
          </select>
          <select class="" name="maxprice" id="maxprice">
            <option value="">Max Price</option>
            <option value="10000">10000</option>
            <option value="50000">50000</option>
            <option value="100000">100000</option>
            <option value="200000">200000</option>
            <option value="300000">300000</option>
            <option value="500000">500000</option>
            <option value="1000000">1000000</option>
            <option value="2500000">2500000</option>
            <option value="5000000">5000000</option>
            <option value="10000000">10000000</option>
            <option value="100000000">100000000</option>
            <option value="1000000000">1000000000</option>
          </select>
        </div>
      </div>
      <div class="">
        <label style="font-size: .8rem; font-weight: bolder; text-align: center;" >Number of Rooms:</label>
        <div class=""> <br>
          <input type="Number"  name="bedroom" value="" min="1" placeholder="N/A">
        </div>
      </div>
    </div>
    <br><hr>
  <div class="search_4">
    <div class="">
    <label>Measurement</label>  <br>
      <input type="text" name="measurement" value="" placeholder="square ft./decimal">
    </div>
    <div class="">
      <label>Property Type:</label>  <br>
        <select class="" name="exteriortype">
          <option name="" value="">N/A</option>
          <option name="exteriortype6" value="Apartment">Apartment</option>
          <option name="exteriortype7" value="House">House</option>
          <option name="exteriortype5" value="Land">Land</option>
          <option name="exteriortype3" value="Duplex">Duplex</option>
          <option name="exteriortype4" value="Multiplex">Multi-storey Building</option>
          <option name="exteriortype5" value="Store">Store</option>
          <option name="exteriortype5" value="Office">Office</option>
          <option name="exteriortype5" value="Market">Market</option>
        </select>
    </div>
    <div class="">
      <label>Level</label>  <br>
        <select class="" name="level">
          <option name="" value="">N/A</option>
          <option name="level" value="First Floor">1st Floor</option>
          <option name="level" value="Second Floor">2nd Floor</option>
          <option name="level" value="Third Floor"> 3rd Floor</option>
          <option name="level" value="Sixth Floor">4th, 5th or 6th Floor</option>
          <option name="level" value="Ninth Floor"> 7th, 8th or 9th Floor</option>
          <option name="level" value="Skyscrapper"> 10th or above</option>
        </select>
    </div>
    <div class="">
    <label>Status</label> <br>
      <select class="" name="laststatus">
        <option name="" value="">N/A</option>
        <option name="laststatus1" value="Available">Available</option>
        <option name="laststatus2" value="Price Changed">Price Changed</option>
        <option name="laststatus3" value="Conditional Sold">Conditional Sold</option>
        <option name="laststatus4" value="Sold">Sold</option>
        <option name="laststatus4" value="Terminated">Terminated</option>
      </select>
    </div>
  </div>
  <hr>
    <input type="submit" name="submit" value="Continue">
  </form>
</div>
<% include partials/footer %>
