html , body{
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: #f0f5f5;
}

img{
display: block;
max-width: 100%;
}

li{
  text-align: center;
  list-style: none;
  cursor: pointer;
  padding: 1rem .5rem;
}

h3{
  color: #da291c;
}

p{
  line-height: 1.5;
}

i{
  font-size: 1.2rem;
  vertical-align: middle;
  font-weight: lighter;
}

.listings{
  width: 100%;
}

input[type=number]{
    width: 110px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 98%;
  table-layout:auto;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th,
table td {
  padding: .325rem .625rem;
  text-align: center;
  font-size: .7rem;
}

@media screen and (max-width: 600px) {

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 98%;
    table-layout:auto;
  }

  table th,
  table td {
    padding: .225rem .425rem;
    text-align: center;
    font-size: .6rem;
}
}
