html , body{
  width: 100%;
  letter-spacing: 0.05em;
  font-family: 'Roboto';
  margin: 0;
  background-color: #f0f5f5;
}

img{
display: block;
max-width: 100%;
}

li{
  text-align: center;
  list-style: none;
  cursor: pointer;
  padding: 1rem .5rem;
}

h3{
  color: #da291c;
}

p{
  line-height: 1.5;
}

i{
  font-size: 1.2rem;
  vertical-align: middle;
  font-weight: lighter;
}

.listings{
  width: 100%;
}

input[type=number]{
    width: 100px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 98%;
  table-layout:auto;
  font-size: .5rem;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
    font-size: .5rem !important;
}

table th,
table td {
  padding: .325rem .25rem !important;
  text-align: center;
  font-size: .5rem !important;
}

.login_form{
  position: absolute;
  top: 15%;
  width: 60%;
  left: 20%;
  border: 1.5px solid #000;
  border-radius: 40px 0 40px 0;
  padding: 1rem;
}
.login_links{
  li{
      text-align: left;
      margin-top: -1rem;
      list-style-type: square;
      font-family: 'Raleway', sans-serif;
      font-size: .9rem;

      a{
        text-decoration: none;
        font-weight: bold;
        font-color: blue;
      }
  }
}

.row_space{
  margin-top: 1rem;
}
.row_center{
    margin-left: auto;
    margin-right: auto;
}
.area_font{
  font-size: .8rem;
}

.lebel_font{
  font-size: 1rem;
  font-weight: bold;
  font-family: Roboto;
}
.carousal_title, .carousal_desc{
  background-color: rgba(#fff, .5);
  color: #000;
  font-family: Roboto !important;
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      max-width: 98%;
      table-layout:auto;
    }

    table th,
    table td {
      padding: .225rem .425rem;
      text-align: center;
      font-size: .6rem;
  }

  .login_form{
    top: 10%;
    width: 90%;
    left: 5%;
    border: none;
    border-radius: 2px;
    padding: 1rem;
  }
  .login_links{
    li{
        font-size: .75rem;
    }
  }
  .lebel_font{
    font-size: .8rem;
    font-weight: bold;
    font-family: Roboto;
  }
}
p.card-text{
  font-size: .8rem !important;
}
/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {

}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {

}
