  .headerNav{
    display: grid;
    grid-template-columns: 5fr  2fr;
    border-bottom:3px #eee solid;
    position: relative;
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    z-index: 15;
    padding: 2rem 0;

    div{
      span{
        padding: 0 1rem;
      }
    }
  }
.bg-light{
  background-color: #094E12 !important;
}

.navbar-brand{
  color: #fff !important;
  font-family: Roboto;
  font-weight: 600;
}

.nav-link{
  color: #fff !important;
  font-family: Roboto;
}
.navbar-text{
  strong{
    color:#FF8900;
  }
  a{
    color: #fff !important;
    text-decoration: none;
  }
}
