  .headerNav{
    display: grid;
    grid-template-columns: 5fr  2fr;
    border-bottom:3px #eee solid;
    position: relative;
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    z-index: 15;
    padding: 2rem 0;

    div{
      span{
        padding: 0 1rem;
      }
    }
  }
