.show{
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  width: 100%;
  margin: auto;

&_image {
  border:1px #000 solid;
  img {
  max-width: 80%;
  }
}

  &_first{
    display: grid;
    grid-template-columns: 1fr;
  }

  &_second{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:1px #000 solid;
  }

  &_border{
      border:1px #000 solid;
  }

  &_third{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:1px #000 solid;
  }

  &_four{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border:1px #000 solid;
  }

  &_five{
    display: grid;
    grid-template-columns: 1fr;
    border:1px #000 solid;
  }

  &_six{
    display: grid;
    grid-template-columns: 1fr;
    border:1px #000 solid;

    &-point{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.cs_font{
  font-size: .9rem;
}
.cs_title{
  font-weight: bold;
}
.cs_border{
  border:1px #000 solid;
}
.cs_row_space{
  margin-bottom: 1rem;
}
/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .cs_font{
    font-size: .7rem;
  }
  .show{
    grid-template-columns: 1fr;
  &_image {
    border:1px #000 solid;
    img {
    max-width: 80%;
    }
  }
}
}

/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {

}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {

}
